@model List<Restaraunt.Entities.FoodItemToExtraVM>

<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
            <input class="form-control" placeholder="Search" type="text">
            <span class="close-search input-group-addon">
                <i class="fa fa-times"></i>
            </span>
        </div>
    </div>
</div>
<!-- End Top Search -->
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Категории</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Главная</a>
                    </li>
                    <li class="active breadcrumb-item">Категории</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">

                    <td class="remove-pr">
                        <a asp-action="CreateOrUpdateFoodItemToExtra" asp-controller="FoodItemToExtra"> Создать </a>
                    </td>

                    <table class="table">
                        <thead id="tableHeader">
                        <tr>
                            <th>Images</th>
                            <th>Название категории</th>
                            <th>Редактировать</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var foodItemToExtra in @Model)
                        {
                            <tr class="dataRow">
                                <td class="thumbnail-img">
                                    <a href="#">
                                        <img alt="" class="img-fluid" src="@Url.Content("~/images/img-pro-01.jpg")"/>
                                    </a>
                                </td>
                                <td class="total-pr">
                                    <p>
                                        @foodItemToExtra.Id
                                    </p>
                                </td>
                                <td class="remove-pr">
                                    <a asp-controller="FoodItemToExtra" asp-action="CreateOrUpdateFoodItemToExtra" asp-route-id="@foodItemToExtra.Id">Редактировать</a>
                                </td>
                                <td class="remove-pr">
                                    <a asp-controller="FoodItemToExtra" asp-action="ConfirmDeleteFoodItemToExtra" asp-route-id="@foodItemToExtra.Id">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>