@model Restaraunt.Entities.FoodItemVM
<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
            <input class="form-control" placeholder="Search" type="text">
            <span class="close-search input-group-addon">
                <i class="fa fa-times"></i>
            </span>
        </div>
    </div>
</div>
<!-- End Top Search -->
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Категории</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Главная</a>
                    </li>
                    <li class="active breadcrumb-item">Категории</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">

                    <h3>Вы уверены что хотите удалить?</h3>
                    <div>
                        <h4>Блюдо</h4>
                        <hr/>
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Model.Name
                            </dt>
                        </dl>
                        <form method="post" action="@Url.Action("DeleteFoodItem", new { id = Model.Id, foodCategoryId = Model.FoodCategoryId })">
                            <button type="submit">Да</button>
                        </form>
                        <br/>
                        <a asp-action="Index" asp-controller="Home">Нет</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>